.footer-color{
    background-color: #185ADB;
}

.sub-title-content-footer{
    font-family: 'Noto Sans', sans-serif;
    color: white;
    font-size: 30px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 1.5px;
}

.text-set{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 17px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 1px;
  
}