.nav-color{
    background-color: white;
    border-radius: 0px 0px 50px 50px;
    z-index: 1;
    border: 1px solid black;
}


.text-nav{
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 17px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
   

}

.text-nav:hover{
    color: black;
    background-color: #1790FF;        
}





